.navbar-div{
  height: 200px;
  width: 100%;
  border: 5px solid black;
  background-image: url('https://static.vecteezy.com/system/resources/previews/002/797/285/non_2x/abstract-art-nature-background-trendy-plants-frame-design-background-color-flowers-decorative-beautiful-garden-botanical-leaves-and-floral-pattern-design-for-summer-sale-banner-vector.jpg');
  background-size: 100%;
}
